.header{
display: flex;
align-items: center;
justify-content: center;
font-size: large;
height: 150px;
background-color: rgb(201, 198, 198);
}

.h1{
   
}

.ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 0px solid gray;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    align-items: start;
}

.c1{
    padding: 0px;
    background-color: rgb(75, 75, 75);
    flex: 1 1 25%;
    height: 300px;
}

.c2{
    padding: 0px;
    background-color: rgb(111, 110, 110);
    flex: 1 1 50%;
    height: 300px;
}

.c3{
    padding: 0px;
    background-color: rgb(142, 140, 140);
    flex: 1 1 25%;
    height: 300px;
}

.footer{
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: rgb(201, 198, 198);
    justify-content: center;
    align-items: center;
    height: 50px;
}
